<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexxus</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
</head>
<body>
    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="{% url "home" %}" class="flex items-center">
                    <img src="{% static 'logo.png' %}" alt="Descripciónn" class="size-10">
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Nexxus</span>
                </a>
                <div class="flex items-center lg:order-2">
                    <a href="{% url 'list_product' %}" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                        Catálogo</a>
                    {% if user.is_authenticated %}
                    <span class="text-gray-800 dark:text-white focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none dark:focus:ring-gray-800">Hola {{ user.username }}</span>
                    <form action="{% url "logout" %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                            Cerrar sesión
                        </button>
                    </form>
                    {% else %}
                        <a href="{% url "login" %}" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                            Login
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <br>
    <div class="container mx-auto px-4">
        {% block content %}{% endblock content %}
    </div>
    
</body>
</html>